<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | truncatewords: 26 }}{% else %}{{ site.description }}{% endif %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{ site.author.name }}">
    <link rel="stylesheet" href="{{ "css/main.css" | prepend: site.baseurl }}">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
