
/* ==========================================================================
    LISTS
   ========================================================================== */

/*
 * There's a reason it's called 'hanging punctuation', bullets should be indented.
 * See: http://www.markboulton.co.uk/journal/five-simple-steps-to-better-typography-part-2
 * for an explanation why. The following kills browser default indents. Nice.
 */
ul,
ol,
dl {

}

dt {
    font-weight: $strong-weight;
}

/* A little style maestro! */
ul {
//	list-style-type: circle;
    list-style-position: outside;
}

ol {
    list-style-type: lower-roman;
}

/* We don't need vertical space in nested lists, but we do need to add
* the default indent we removed above! */
li {

    @extend .margin-off;

    > ul,
    > ol {
        padding-left: spacer();
     }
}
