
/* ==========================================================================
    TYPOGRAPHY
   ========================================================================== */

/* PARAGRAPHS */
p {
    orphans: 3;
    widows: 3;
    word-wrap: break-word;

    @include hyphens;

    //Numbers in paragraphs should kick it Old Skool: http://bit.ly/1g0uevo
    -moz-font-feature-settings: 'onum=1';
    -ms-font-feature-settings: 'onum';
    -webkit-font-feature-settings: 'onum';
    -o-font-feature-settings: 'onum';
    font-feature-settings: 'onum';

    + p {
        margin-top: spacer(2);
    }

    @if $paragraph-indent {
        + p {
            margin-top: 0;
            text-indent: spacer(4);
        }
    }

    @include mq($min, $md) {
        @if $paragraph-justify {
            text-align: justify;
        }
    }
}

/* Typically used in the first paragraph of an article, for added awesome. */
.intro {
//    @extend .muted;
    @include font-size($scale-up1, none);
}

/* BLOCK QUOTES */

/* Default margin indent is zeroed out and padded to allow styling of element. */
blockquote {
    border-left: 2px solid $brand-color;
    padding-left: spacer(4, $scale-up1);
    @include font-size($scale-up1);

    &:before,
    &:after {
        content: '';
        content: none;
    }

    > cite,
    + cite {

    }

    @include mq($min, $md) {
        margin-left: spacer(-4, $scale-up1);
    }
}

/* CITATIONS */
cite {
    display: block;
    @include font-size($scale-down1);

    &:before {
        content: "\2014";
        margin-right: 1em;
    }
}

/* INLINE QUOTES */
q {
    quotes: "\2018" "\2019" "#{$open-quote}" "#{$close-quote}";

    &:before {
        content: "\2018";
        content: open-quote;
    }
    &:after {
        content: "\2019";
        content: close-quote;
    }
}

/* ABBREVIATIONS */
abbr {

    text-transform: uppercase;

    @if $opentype == true {

    // Turn on small caps for upper and lowercase letters
    -webkit-font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "smcp" 1, "c2sc" 1;
    -moz-font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "smcp" 1, "c2sc" 1;
    font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "smcp" 1, "c2sc" 1;
    }
}

small {
    @include font-size($scale-down1);
}

/* SUPER AND SUBSCRIPTS */
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {

    top: -0.5em;

    @if $opentype == true {
        // Turn on proper supercript numerals
        -webkit-font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "sups" 1;
        -moz-font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "sups" 1;
        font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "sups" 1;
    }
}

sub {

    bottom: -0.25em;

    @if $opentype == true {
        // Turn on proper subscript numerals
        -webkit-font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "subs" 1;
        -moz-font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "subs" 1;
        font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "subs" 1;
    }
}

/* BOLDY STUFF */
b,
strong {
  font-weight: $strong-weight;
}
