
/* ==========================================================================
    HEADER
   ========================================================================== */

[role="banner"] {

    .grid-item {
        vertical-align: bottom;
    }

    .section-content {
        border: 0;
        padding: 0;
    }

    .section-header {
        padding: 0;
    }
}
